@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/bg.png);
    padding-bottom: 80px;

}


.fa-location-dot {
    color: orangered;
}

.location div {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 150px;
}

.location p {
    margin-top: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    color: aliceblue;
}

.location button {
    background: linear-gradient(90deg, #161623 18.31%, rgba(22, 22, 35, 0.91) 33%, rgba(22, 22, 35, 0.63) 49.95%, rgba(22, 22, 35, 0.26) 72.93%, #161623 100%);
    ;
    border-radius: 200px;
    padding: 10px 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
    line-height: 22px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.same p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}



.same h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.same {
    gap: 20px;
    display: flex;
    font-weight: 600;
    font-size: 5px;
    line-height: 10px;
    color: #FFFFFF;
    margin-left: 15px;
    margin-top: 10px;
}

.and {
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

}

.bigger {
    font-weight: 900;
    font-size: 60px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.p {
    font-weight: 100;
    font-size: 25px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 50px;
}

.rasm {
    display: flex;
    gap: 25px;
    margin-top: 120px;
}

.Oqdiv {
    padding: 59px 40px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 360px;
}

.textdiv1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #444444;
    display: flex;
    gap: 60px;
}

.inpDiv1 {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #C0C2D7;
    background: #FFFFFF;
    border: 1px solid #C0C2D7;
    border-radius: 200px;
    padding: 12px 20px;
}

.inp1 {
    width: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: black;
    border: 0;
    border-radius: 20px;
    outline: 0;

}

.sar1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #444444;
    margin-top: 26px;
}

.inp2 {
    width: 280px;
    background: #FFFFFF;
    border: 1px solid #C0C2D7;
    border-radius: 200px;
    padding: 13px 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: black;
    outline: 0;
}

#Sarvar_ {
    width: 280px;
}

#Sarvar_result {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* text-align: center; */
    color: #444444;
    margin-top: -5px;

}

.kattadiv1 {
    display: flex;
    justify-content: center;
}

.kattDiv2 {
    display: flex;
    justify-content: center;
}

.btn1 {
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    background: rgb(61, 61, 244);
    border-radius: 200px;
    padding: 10px 110px;
    margin-top: 44px;
}

.narxDiv {
    margin-top: 48px;

}

.ikons {
    margin-top: 80px;
    color: white;
}

.o {
    margin-top: 120px;
}

.one {
    margin-top: 50px;
}

.n {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #333333;
    margin-top: 20px;
}

.q {
    font-weight: 800;
    font-size: 40px;
    line-height: 150%;
    color: #333333;
    margin-top: 100px;
}

.nova {
    margin-top: 15px;
    font-weight: 800;
    font-size: 21px;
    line-height: 150%;
    color: #333333;
    margin-left: 30px;

}

.i {
    margin-left: 15px;
    margin-top: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #727488;

}

.x {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
}

.bigger_div {
    left: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
    border-radius: 20px;
}

.uy1 {
    width: 100%;
}

.ot {
    font-weight: 800;
    font-size: 18px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #333333;
    margin-left: 30px;
}

.soz {
    display: flex;
}

.to {
    margin-left: 70px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #F4683F;

}

.but {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.btn10 {
    border: none;
    padding: 10px 50px;
    background: #F4683F;
    border-radius: 200px;

    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.m {
    font-weight: 800;
    font-size: 30px;
    color: #333333;
}


.viv {
    display: flex;
    align-items: center;
    margin-left: 15px;

    background: #FFFFFF;
    box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
    border-radius: 20px;
}

.kol {
    margin-top: 25px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #333333;

}

.xa {
    margin-left: 30px;
}

.tok {
    font-weight: 800;
    font-size: 30px;
    color: #333333;
    margin-top: 100px;

}

.vx {
    font-weight: 800;
    font-size: 15px;
    line-height: 150%;
    color: #333333;
}

.qol {
    font-size: 18px;
    color: #000000;
}

.xr {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.rx {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

footer {
    background: url(img/foooter.png);
    height: 775px;
    margin-top: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

.Fute {
    margin-top: 160px;
    color: #FFFFFF;
    margin-left: 100px;
}

.du {
    margin-left: 100px;
    margin-top: 20px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
}

.butt {
    margin-left: 100px;
    margin-top: 15px;
}

.fo {
    margin-top: 180px;

}

.p {
    font-size: 15px;
    color: #404256;
}

.pp {
    font-size: 14px;
    color: #404256;
}

.won {
    margin-top: -170px;
    font-weight: 800;
    font-size: 22px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 180px;
}

.wok {
    font-weight: 600;
    font-size: 16px;
    color: #C0C2D7;

}

.mr {
    margin-top: 170px;
    color: #FFFFFF;
}

.mrr {
    color: white;
}

#tel {
    color: #FFFFFF;
}

.nomer {
    display: flex;
    margin-top: 170px;
}

.nomerr {
    margin-left: 15px;
    color: #FFFFFF;
    margin-top: -5px;
}

.fot_icons {
    color: #FFFFFF;
    margin-top: 5px;
}



@media (max-width:575px) {
    .samo{
        text-align: center;
    }
    .kattDiv2{
        display: grid;
    }
    .rasm{
        display: grid;
        justify-content: center;
    }
    .location div{
        margin-top: 30px;
        margin-left: 50px;
    }
    .logppp{
        margin-left: 20px;
        margin-top: 20px;
    }
    .same h2{
        font-size: 12px;
    }
    .same p{
        font-size: 12px;
    }
    .same{
        text-align: center;
    }
    .and p{
        text-align: center;
        font-size: 12px;
    }
    .bigger h1{
        margin-top: 0;
        text-align: center;
    }
    .bigger p{
        text-align: center;
    }
    .fa-brands{
        font-weight: 100;
    }
    .Oqdiv{
        margin-top: 20px;
    }
    .omeee{
        text-align: center;
    }
    .q{
        text-align: center;
        font-size: 20px;
        padding-bottom: 20px;
    }
    .xayyyy{
        text-align: center;
    }
    .mamna{
        text-align: center;
    }
    .viv{
        margin-top: 20px;
    }
    .tok{
        text-align: center;
    }
    .uy1{
            margin-top: 15px;
    }
}